

input[type='checkbox']{
    width: 1.5em;
    height: 1.5em;
    border-radius: 10px;
    vertical-align: middle;
    margin-bottom: 4px;
}

.maintain {
    color: darkorange;
}

.active-dev {
  color: green;
}